body, html
{
    height: 100%;
    margin: 0;
    padding: 0;
}
a
{
    color: black;
    display: block;
}
a:hover
{
    color: grey;
    text-decoration: none;
}
#svgmaster
{
    border: 1px solid black;
}
.background1
{
    background-image: url(images/foggang.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.background2
{
    background-color: #f4f8f9;
}
.image
{
    height: 64px;
    width: auto;
}
#nav
{
    z-index: 1;
    background-color: #0f0c28;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 10px -5px #000; 
}
#nav a
{
    padding: 20px;
    color: #dbdeff;
    text-decoration: none;
    display: block;
}

#nav a:hover
{
    background-color: #dbdeff;
    color: #0f0c28;
}

.smallnav
{
    background-color: rgba(10, 7, 38, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 64px;
    z-index: 10;
    color: #000;
    padding: 20px;
}

.smallnav a
{
    margin: 20px;
    color: #dbdeff;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
}

.smallnav a:hover{
    color: white;
}

.left
{
    float: left;
}
.right
{
    float: right;
}

.nicebtn
{
    margin: 10px;
    border: 1px solid silver;
    height: 50px;
    width: 170px;
    color: white;
}

.nicebtn:hover
{
    background-color: #dbdeff;
    border: 1px solid #dbdeff;
    color: #0f0c28;
}

.notmemberbtn
{
    margin: 10px;
    border: 1px solid #0f0c28;
    height: 50px;
    width: 170px;
    color: #0f0c28;
}

.notmemberbtn:hover
{
    background-color: #0f0c28;
    border: 1px solid #0f0c28;
    color: #fff;
}

h1
{
    font-size: 35px;
    text-align: center;
    margin: 20px;  
    font-family: 'PT Sans', sans-serif;
}
h3
{
    margin: 30px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
p
{
    padding-left: 2%; padding-right: 2%;
    text-align: left;
    color: black;
    margin: 0;
}
.inputsmalll
{
    margin: 20px;
    padding-left: 10px;
    height: 50px;
    width: 62.5%;
    margin-right: 2.5%;
}
.textsmall
{
    margin-top: 0;
    margin-bottom: 0;
    width: 62.5%;
    margin-right: 2.5%;
}
.inputsmallr
{
    margin: 20px;
    height: 50px;
    padding-left: 10px;
    width: 62.5%;
    margin-left: 2.5%;
}
.textsmallr
{
    margin-top: 0;
    margin-bottom: 0;
    width: 62.5%;
    margin-left: 2.5%;
}
.inputbig
{
    padding-left: 10px;
    height: 50px;
    margin: 20px;
    width: 65%;
}
.col-sm-6
{
    display: flex;
}
.col-sm-6-l
{
    justify-content: flex-end;
}
.col-sm-6-r
{
    justify-content: flex-start;
}
@media (max-width: 575px) {
    .col-sm-6-l
    {
        justify-content: center;
    }
    .col-sm-6-r
    {
        justify-content: center;
    }
    .inputsmalll
    {
        width: 65%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .inputsmallr
    {
        width: 65%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .textsmallr
    {
        display: none;
    }
}
.col-sm-12, .col-12
{
    padding: 0;
    margin: 0;
}
.newform
{
    margin-top: 128px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: rgba(15, 12, 40, 0.8);
    box-shadow: 0 0 10px -5px black; 
}
.newform2
{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 64px;
    color: white;
    text-align: center;
    background-color: rgba(219, 222, 255, 0.5);
    box-shadow: 0 0 10px -5px black; 
}
.newform2 p
{
    color: white;
}
.standarddiv
{
    margin-top: 128px; margin-bottom: 64px;
    background-color: white; 
    box-shadow: 0 0 10px -5px black; 
    padding: 20px;
}

.showorders-table{
	font-family: 'Poppins', sans-serif;
	font-size: .8rem;
	
}
	.showorders-thead{
		color: #a1a1a1;
		text-transform: uppercase;
		
	}

		.showorders-th{
			border: none!important;
			font-weight: 400;
			letter-spacing: 1px;
		}

	.showorders-tr {
		background-color: #fff;
		border: 1px solid #e1e1e1;
		border-radius: 2px;
		margin-bottom: 10px;
		-webkit-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
		-moz-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
		-o-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
		transition: background-color 0.3s ease-out, border-color 0.3s ease-out;	
	}

		.showorders-tr:hover{
			background-color: #6db6ff;
			border-color: #6db6ff;
			color: #FFF;
		}

		.showorders-tr:active{
			background-color: #5d9dd8;
			border-color: #5d9dd8;
		}

.last-tr {
	border-bottom: 1px solid #dee2e6;	
}

.neworder-tr{
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
}

/* 
th {
    text-align: center;
}
*/
.error {
    border: 1px solid red;
}
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}